.homeWrapper {
}

.homeWrapper h2 {
  text-align: right;
  margin: 60px 0 0 0;
  font-size: 20px;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articles a {
  width: 23%;
}

.homeWrapper h2 {
  margin: 40px 0 40px;
}
